* {
  box-sizing: border-box;
}
.flight-img {
  width: 50px;
  height: 25px;
}
body {
  background-color: #e7efec;
  min-height: 100%;
}
.title {
  text-align: center;
  font-size: 2rem;
}
.form {
  display: flex;
  justify-content: center;
}
.tabs-container {
  display: flex;
  justify-content: center;
}

.flight-list_item-box {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  justify-content: center;
  &-item {
    color: #007bff;
    text-decoration: none;
    margin: 20px;
  }
}
