.flight {
  border-spacing: 0;
  background-color: #fff;
  width: 1140px;
  margin-bottom: 100px;

  &-nav_item {
    padding: 12px;
    padding-top: 30px;
    color: #95989a;
    font-size: 16px;
    text-align: left;

    &__term {
      padding: 12px;
      padding-top: 30px;
      color: #95989a;
      font-size: 16px;
      text-align: center;
    }
  }

  &-list {
    &:nth-child(even) {
      background-color: rgba(0, 102, 135, 0.1);
    }

    &_item {
      padding: 12px;
      font-size: 18px;
      text-align: left;

      &__term {
        text-align: center;
        &-skin {
          color: #63c745;
          font-weight: 700;
          border: 1px solid #63c745;
          border-radius: 50%;
          display: inline-block;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 35px;
          font-size: 22px;
        }
      }
      &__company {
        font-size: 16px;
      }

      &__box {
        display: flex;
        align-items: center;
      }
      &__logo {
        padding-right: 5px;
        width: 65px;
        height: 35px;
      }
    }
    &:hover {
      box-shadow: -7px 7px 8px 0px rgba(0, 0, 0, 0.2);
    }
  }
}
